.row.row-top
  .top-left
    h1 Nicolas Hery
  .top-right
    | Montreal, Quebec<br />
    | hi@nicolashery.com<br />
    | http://nicolashery.com<br />

.intro
  | Software developer with experience working across the technology stack.
  | Leadership and non-coding skills through communication with stakeholders, project management, teaching and mentoring.
  | Passionate about programming and avid learner of different languages and paradigms.
  | Focused on building maintainable and reliable software that solves real business problems.

h2 Experience

.row
  .left Sep 2015 -<br />Present
  .right
    h3 Senior Software Developer
    h4 Busbud, Montreal
    ul
      li Worked as a full-stack web developer on the customer website, as well as backend services and internal tools
      li Delivered major projects by communicating with stakeholders, designing data models and interfaces, producing technical specifications, and coding the implementation
      li Increased confidence in deployment and code maintainability, by introducing TypeScript and other static analysis tools, leveraging a new end-to-end testing framework, improving monitoring and logging, and prioritizing tasks to reduce technical debt
      li Improved website performance, by reducing client-side JavaScript bundle sizes, finding opportunities to optimize code execution, implementing pagination for the search page
      li Grew the team by interviewing candidates, onboarding new team members, writing documentation, being a prolific code reviewer, mentoring and teaching (gave lunch & learn presentations on TypeScript, and Algebraic Data Types)

.row
  .left Jan 2015 -<br />Aug 2015
  .right
    h3 Web Developer
    h4 Freelance, Montreal
    ul
      li Worked with a startup to build the prototype of a solution that helps small businesses manage their data
      li Built the interface of an MVP used to explore a large database of industry data and visualize key metrics

.row
  .left Oct 2013 -<br />Dec 2014
  .right
    h3 Contract Web Developer
    h4 Tidepool, Paris & Montreal
    ul
      li Worked remotely for the non-profit organization whose mission is to reduce the burden of Type-1 Diabetes
      li Helped build the core platform which synchronizes diabetes data from many medical devices
      li Built with a small team of developers the MVP version of Blip, a web-based data visualization tool

.row
  .left Jan 2010 -<br />May 2013
  .right
    h3 Data Analyst
    h4 FreshDirect, New York
    ul
      li Built a web application that aggregates data from multiple systems and generates a demand forecasting Excel sheet
      li Implemented a pilot program that uses an innovative cloud-based product forecasting service
      li Wrote and implemented several scripts to transform and load data, as well as automate redundant tasks

.row
  .left Oct 2009 –<br />Dec 2009
  .right
    h3 Student Project
    h4 Google, New York
    ul
      li Managed a team of students from Columbia University on a project for Google's Operations Research group
      li Used Python to simulate job scheduling in data centers and optimize the algorithm to decrease power consumption

.row
  .left May 2009 –<br />Jul 2009
  .right
    h3 Intern Consultant
    h4 Cylad Consulting, France
    ul
      li Worked with a team of consultants for Airbus on the project planning of the Airbus 350 XWB
      li Developed an Excel VBA tool to create Gantt charts from the main scheduling platform's data

h2 Education

.row
  .left 2009 - 2010
  .right
    h3 Columbia University
    h4 MS in Operations Research, New York
    ul
      li Selected coursework: Deterministic and Stochastic Models, Corporate Finance, Entrepreneurship, Supply Chain

.row
  .left 2007 - 2009
  .right
    h3 Ecole Centrale de Nantes
    h4 MS in Industrial Engineering, France
    ul
      li Selected coursework: Probability and Statistics, Calculus, Economics, International Strategy

h2 Skills

.row
  .left Best at
  .right TypeScript/JavaScript, Node.js, React

.row
  .left Good at
  .right Haskell, Python, PostgreSQL
