.row.row-top
  .top-left
    h1 Nicolas Hery
  .top-right
    | Montreal, Quebec<br />
    | hi@nicolashery.com<br />
    | http://nicolashery.com<br />

.intro
  | Freelance web developer with a background in applied mathematics and a thing for building well-designed web applications with great user experience that solve data-driven business problems or simply make people's lives better.

h2 Experience

.row
  .left Jun 2013 -<br />Present
  .right
    h3 Web Developer
    h4 Freelance, Montreal
    ul
      li Develops web applications accross the stack, for clients with a focus on data and user interfaces

.row
  .left Oct 2013 -<br />Dec 2014
  .right
    h3 Contract Web Developer
    h4 Tidepool, Paris & Montreal
    ul
      li Worked remotely for the non-profit organization whose mission is to reduce the burden of Type-1 Diabetes
      li Helped build the core platform which synchronizes diabetes data from many medical devices
      li Built with a small team of developers the MVP version of Blip, a web-based data visualization tool

.row
  .left Jan 2010 -<br />May 2013
  .right
    h3 Data Analyst
    h4 FreshDirect, New York
    ul
      li Built a web application that aggregates data from multiple systems and generates a demand forecasting Excel sheet
      li Implemented a pilot program that uses an innovative cloud-based product forecasting service
      li Wrote and implemented several scripts to transform and load data, as well as automate redundant tasks

.row
  .left Oct 2009 –<br />Dec 2009
  .right
    h3 Student Project
    h4 Google, New York
    ul
      li Managed a team of students from Columbia University on a project for Google's Operations Research group
      li Used Python to simulate job scheduling in data centers and optimize the algorithm to decrease power consumption

.row
  .left May 2009 –<br />Jul 2009
  .right
    h3 Intern Consultant
    h4 Cylad Consulting, France
    ul
      li Worked with a team of consultants for Airbus on the project planning of the Airbus 350 XWB
      li Developed an Excel VBA tool to create Gantt charts from the main scheduling platform's data

h2 Education

.row
  .left 2009 - 2010
  .right
    h3 Columbia University
    h4 MS in Operations Research, New York
    ul
      li Selected coursework: Deterministic and Stochastic Models, Corporate Finance, Entrepreneurship, Supply Chain
      li Created a WordPress blog for the Entrepreneurship Club and published articles

.row
  .left 2007 - 2009
  .right
    h3 Ecole Centrale de Nantes
    h4 MS in Industrial Engineering, France
    ul
      li Selected coursework: Probability and Statistics, Calculus, Economics, International Strategy

h2 Skills

.row
  .left Best at
  .right JavaScript, HTML5, CSS3, Node.js

.row
  .left Good at
  .right Python, MongoDB, MySQL, Photoshop

h2 Influences

.row
  .left People
  .right Rich Hickey, Mike Bostock, Paul Irish, John Foreman, Eric Ries, & more

.row
  .left Products
  .right GitHub, Trello, Google Apps, 37signals, Square, & more

h2 Interests

.row
  .left &nbsp;
  .right web apps, design, user experience, data visualization, scientific computing, running, swimming, guitar, travelling, good wine, good scotch, good company
