.row.row-top
  .top-left
    h1 Nicolas Hery
  .top-right
    | New York, NY<br />
    | hello@nicolashery.com<br />
    | http://nicolashery.com<br />

.intro
  | Freelance web developer with a background in applied mathematics and a thing for building well-designed web applications with great user experience that solve data-driven business problems or simply make people's lives better.
  
h2 Experience

.row
  .left Jan 2010 -<br />May 2013
  .right
    h3 Data Analyst
    h4 FreshDirect, New York
    ul
      li Designed and built a small web application that aggregates data from different systems and provides an interface allowing FreshDirect buyers to forecast product demand and replenish the warehouse
      li Implemented a pilot program that uses an innovative cloud-based product forecasting service
      li Led various ETL projects, acting as a bridge between IT and business users
      li Wrote and implemented several scripts to transform and load data, as well as automate redundant tasks

.row
  .left Oct 2009 –<br />Dec 2009
  .right
    h3 Student Project
    h4 Google, New York
    ul
      li Managed a team of engineering students from Columbia University on a student Project for Google's Operations Research group
      li Used Python and SimPy to simulate job scheduling in Google's data centers and optimize the algorithm to decrease power consumption

.row
  .left May 2009 –<br />Jul 2009
  .right
    h3 Intern Consultant
    h4 Cylad Consulting, France
    ul
      li Worked with a team of consultants for Airbus on the project planning of the Airbus 350 XWB
      li Developed a Excel VBA tool to create Gantt charts from the main scheduling platform's data

.row
  .left May 2009 -<br />Jun 2009
  .right
    h3 Freelance Consultant
    h4 Baby Speaking, France
    ul
      li Acted as a technology advisor for a multi-lingual child card startup
      li Wrote a small PHP application used by international students applying for a job at Baby Seaking

h2 Education

.row
  .left 2009 - 2010
  .right
    h3 Columbia University
    h4 MS in Operations Research, New York
    ul
      li Selected coursework: Deterministic and Stochastic Models, Corporate Finance, Entrepreneurship, Supply Chain
      li Created a WordPress blog for the Entrepreneurship Club and published articles

.row
  .left 2007 - 2009
  .right
    h3 Ecole Centrale de Nantes
    h4 MS in Industrial Engineering, France
    ul
      li Selected coursework: Probability and Statistics, Calculus, Economics, International Strategy

h2 Skills

.row
  .left Best at
  .right JavaScript, Backbone.js, Python

.row
  .left Good at
  .right HTML5, CSS3 (& Sass), Node.js, MongoDB, MySQL, Photoshop

h2 Influences

.row
  .left People
  .right Paul Irish, Isaac Schlueter, Dan Shipper, Nathan Barry, Sacha Greif, Eric Ries, & more

.row
  .left Products
  .right Trello, 37signals, GitHub, LinkedIn Mobile, Square, & more

h2 Interests

.row
  .left &nbsp;
  .right web apps, design, user experience, data visualization, scientific computing, running, swimming, guitar, travelling, good wine, good scotch, good company
